@import (css) url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');
@import (css) url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

.div {
  width: 90%;
  color: #020202;
  font-family: "Nunito Sans", sans-serif;

  h1, h2, h3, a {
    color: #2f80ed;
  }

  h1 {
    margin: 30px 0 10px 0;
    width: fit-content;
  }

  h2 {
    margin: 30px 0 -5px 0;
    width: fit-content;
  }

  h3 {
    margin: 20px 0 10px 0;
  }

  p {
    font-size: 1.3em;
  }

  div {
    p {
      margin: 0 0 5px 0;
    }
  }

}