.div {
  width: 90%;
  color: #020202;
  font-family: "Nunito Sans", sans-serif;

  h1, a {
    color: #2f80ed;
  }

  h1 {
    margin: 50px 0 10px 0;
    width: fit-content;
  }

  p {
    font-size: 1.3em;
  }
}