
// === detached rulesets === //

// A. Display

@b: {
  display: block;
}

@grid: {
  display: grid;
}

@f: {
  display: flex;
}

@jc-center: {
  justify-content: center;
}

@sb: {
  justify-content: space-between;
}

@ai-center: {
  align-items: center;
}

// B. Margin

@auto: {
  margin: 0 auto;
};

// D. Overflow

@x-auto: {
  overflow-x: auto;
}

@x-hidden: {
  overflow: hidden;
}


// === mixins === //

// A. Display (with or without margin auto)

.b-auto() {
  @b();
  @auto();
}

.f-auto() {
  @f();
  @auto();
}

.f-sb() {
  @f();
  @sb();
}

.f-center() {
  @f();
  @jc-center();
  @ai-center();
}


// B. Width

.width(@width-value) {
  width: @width-value;
}

// C. Reset